.mylayer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.innerdiv{
    width: 50%;
    height: 350px;
    background-image: url(../img/1.jpg);
    background-size: 100% 100%;
    background-position: center ;
    display: flex;
    align-items: center;
    position: relative;

}
.butons{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.icon{
    position: absolute;
    top: 0px;
    right: 0px;
}
